/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2e9e4; /* Light beige background */
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #52301f; /* Dark chocolate brown */
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff; /* White text */
    text-decoration: none;
    font-weight: bold; /* Bold text */
  }
  
  /* Content Styles */
  body > p {
    text-align: center;
    color: #52301f; /* Dark chocolate brown */
    padding: 40px 20px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #52301f; /* Dark chocolate brown */
    color: #fff;
    padding: 20px;
    text-align: center;
  }