/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2e9e4; /* Light beige background */
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #52301f; /* Dark chocolate brown */
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #ffffff; /* White text */
    text-decoration: none;
    font-weight: bold; /* Bold text */
  }
  
  /* Contact Section Styles */
  #contact {
    padding: 40px 20px;
    text-align: center;
  }
  
  #contact h1 {
    margin-bottom: 40px;
    color: #52301f; /* Dark chocolate brown */
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-item {
    background-color: #f2e9e4; /* Light beige background */
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for cards */
    border-radius: 10px; /* Rounded corners for cards */
    margin: 0 20px;
    flex: 1;
  }
  .contact-item a{
    color: #99521f; /* Dark chocolate brown */
    font-weight: bold;
    text-decoration: none;
  }
  .contact-item a:hover {
    color: #52301f; /* Richer brown with a hint of orange */
    text-decoration: underline;
  }
  .contact-item h3 {
    color: #52301f; /* Dark chocolate brown */
    margin-bottom: 10px;
  }
  
  .contact-item p {
    color: #99521f; /* Richer brown with a hint of orange */
    font-weight: bold;
  }
  /* Footer Styles */
  footer {
    background-color: #52301f; /* Dark chocolate brown */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  